<h1>Lista de postagens</h1>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Criar Postagem</button></a>

{{#each postagens}}
<div class="card mt-5">
    <div class="card-body">
        <h4>Titulo: {{titulo}}</h4>
        <h6>{{slug}}</h3>
            <h6>Descrição: {{descricao}}</h6>
            <p>Conteudo:{{conteudo}}</p>
            <small>Data: {{data}}</small> <br>
            <small>Categoria: {{categoria.nome}}</small> <br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-2">Editar postagem</button></a>
            <a href="/admin/postagem/deletar/{{_id}}"><button class="btn btn-danger mt-2">Deletar postagem</button></a>
    </div>
</div>
{{else}}

<h4>Nenhuma Postagem registrada</h4>

{{/each}}